

*,
::before,
::after {
  box-sizing: border-box;

  border-width: 0;

  border-style: solid;

  border-color: #e5e7eb;

}


html {
  line-height: 1.5;
  font-family: ui-sans-serif, system-ui;
}

body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit; 
  border-top-width: 1px;
}


b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}


sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  
  line-height: inherit;
  
  color: inherit;

  margin: 0;

  padding: 0;

}

button,
select {
  text-transform: none;
}

progress {
  vertical-align: baseline;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}


textarea {
  resize: vertical;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}


button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-bottom-5 {
  bottom: -1.25rem;
}

.right-0 {
  right: 0px;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-6 {
  margin-bottom: 2.2rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.w-full {
  width: 100%;
}

.w-3\/4 {
  width: 75%;
}

.w-24 {
  width: 6rem;
}

.cursor-pointer {
  cursor: pointer;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.justify-between {
  justify-content: space-between;
}

.gap-0 {
  gap: 0px;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rounded {
  border-radius: 0.25rem;
}



.bg-gray-300 {
  margin-left: 13px;
  background-color: rgb(144, 164, 164);
  font-weight: bold;
}
.bg-gray-300:hover{
  outline: none;
  transition: 1s;
  background-color: rgb(208, 102, 121);
}
.bg-gray-300:focus{
  outline: none;
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  transition: 0.5s;
  background-color: lightcoral;
}
.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-3 {
 padding: 11px;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.text-center {
  font-weight: bold;
  text-align: center;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-thin {
  font-weight: 100;
}

.text-indigo-700 {
 color:coral;
}

.text-red-700 {
color: red;
}

.text-white {
 font-weight: bold;
  color: rgb(243, 225, 225);
}

.hover\:bg-blue-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity));
}

@media (min-width: 768px) {
  .md\:w-4\/5 {
    width: 80%;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:gap-8 {
    gap: 1rem;
  }

  .md\:py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .md\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .md\:pt-6 {
    padding-top: 1.5rem;
  }

  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
